# custom
report/
build/*
.vscode
.idea
cmake-build-debug
data/*
.cache/

# report folder
report/docs/img/*
report/docs/report_files/*
report/docs/index.html

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
